<div class="tema-azul">
  <app-header [mostrarBotonEscritorio]="!esPantallaMobile()"
              (cambiarNav)="cambiarNav()"
              (cambiarNavMobile)="cambiarNav()"
  ></app-header>

  <mat-sidenav-container class="mainWrapper">
    <mat-sidenav class="sidebarNav" #sidenav
                 mode="side" opened
    >
      <app-sidebar></app-sidebar>

      <ng-scrollbar

        class="position-relative mini-scroll"
        style="height: calc(100vh - 230px)"
      >
        <mat-nav-list class="sidebar-list">
          @for (item of navItems; track item) {
            <app-nav-item [item]="item" (notify)="sidenav?.toggle()">
            </app-nav-item>
          }
        </mat-nav-list>
      </ng-scrollbar>

    </mat-sidenav>

    <mat-sidenav-content class="contentWrapper">
      <main class="pageWrapper mw-100">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
